@page "{id}"
@model PrepForOnSite.Pages.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



@if (@Model.Person != null)
{
    <div class="row">
        <div class="column">
            <h5>ID:</h5>
            <h5>First Name:</h5>
            <h5>Last Name:</h5>
            <h5>DOB:</h5>
            <h5>Gender:</h5>
            <h5>Licence:</h5>
            <h5>Experience:</h5>
        </div>
        <div class="column">
            <h5>@Model.Person.ID </h5>
            <h5>@Model.Person.FirstName</h5>
            <h5>@Model.Person.LastName</h5> 
            <h5>@Model.Person.Dob</h5> 
            <h5>@Model.Person.Gender</h5> 
            <h5>@Model.Person.DriversLicence</h5> 
            <h5>@Model.Person.YearsOfExperience</h5> 
        </div>
    </div>

}
else
{
    <h2>Details not available! </h2>
}